*CMakeFiles
*CMakeFiles/*
*CMakeCache*
cmake_install.cmake
test.sh
*~
gitwork
work
Makefile
*sublime*
found
todo_stack
getReady.sh
base_type.c
sample
compile
.vscode/
todo
vsc*
libcompound.so
ccwarn
genwarn.sh
